@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

a,
a > *,
a:visited,
strong {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

body {
  --text-color: #c9c9c9;
  --bg-1: #4c4c4c;
  font-family: Helvetica, sans-serif;
  background-color: #282c35;
  color: var(--text-color);
  line-height: 150%;
}

h1 {
  margin: 0;
}

.container-main {
  position: relative;
  padding: 40px 24px;
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
}

.container-sub {
  padding: 16px;
  width: 100%;
}

.container-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-centered {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-centered__left {
  align-items: flex-start;
}

.h1-title {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.3;
  background: linear-gradient(168deg, #f21bd3, #29a9fb);
  background-clip: text;
  color: transparent;
  margin-bottom: 2rem;
}

.h2-description {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

.li-wide {
  width: 100%;
  background-color: var(--bg-1);
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.internal-link {
  color: var(--text-color);
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.external-link {
  color: var(--text-color);
  font-weight: bold;
}

.blog-logo {
  font-size: 4rem;
  line-height: 150%;
}

.blog-title {
  text-align: left;
  margin-bottom: 8px;
}

.blog-date {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

.blog-content {
  padding: 16px 0;
}

.blog-content,article {
  word-break: break-word;
  width: 100%;
}

.blog-content pre {
  overflow: auto;
  padding: 2rem 1rem 1rem 1rem;
  background-color: #000;
  position: relative;
  border-radius: 0.5rem;
}

.blog-content pre::before {
    content: ">_";
    color: rgb(113, 184, 6);
    font-weight: 600;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 1rem;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
}

.blog-content h3 {
    margin-top: 3rem;
}

.blog-content a {
  color: rgb(12, 194, 218);
  font-weight: 600;
}

.blog-content a:visited {
  color: rgb(149 97 204);
  font-weight: 600;
}

.blog-content img {
  width: 100%;
}

/* custom code snippet */
.blog-content pre::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

.blog-content pre::-webkit-scrollbar-track {
  background-color: transparent;
}
.blog-content pre::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

.blog-content pre::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 8px;
  border: 3px solid #000;
}
.blog-content pre::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
}

.blog-content pre::-webkit-scrollbar-button {
  display: hidden;
}
/* end of custom code snippet */